appdirs==1.4.4
asgiref==3.3.4
black==21.6b0
click==8.0.1
fastapi==0.65.2
fastapi-pagination==0.7.4
greenlet==1.1.0
h11==0.12.0
loguru==0.5.3
mypy-extensions==0.4.3
pathspec==0.8.1
pydantic==1.8.2
regex==2021.4.4
SQLAlchemy==1.4.18
starlette==0.14.2
toml==0.10.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
